# Server
SERVER_PORT=8081

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=dops
DB_SCHEMA=payments

# mTLS (required)
MTLS_CERT=../certs/server.crt
MTLS_KEY=../certs/server.key
MTLS_CA_CERT=../certs/ca.crt
